#tinyexplore{
    font-size:small;
    margin-left:-4px;
}

@media (min-width:415px){

    #tinyexplore{
        font-size:large;
    }
}

#tinyexplore .dropdown-label{
    font-family: serif !important;
    font-size: medium;
}

  
#tinyexplore .arrow-down{
    margin-bottom:2px !important;
}

#tinyexplore .tiny-dropdown{
    margin-right: 18px !important;
}

#tinyexplore .dropdown-panel{
    right:-3px !important;
    left:unset;
}

#tinyexplore .dropdown-menu{
    padding: 0 !important;
}