#tinynavbar .dropdown-label{
    font-family: serif !important;
    font-size: medium !important;
  }
  
#tinynavbar .arrow-down{
    margin-bottom:2px !important;
}

#tinynavbar .tiny-dropdown{
    margin-right: 18px !important;
}
  
#tinynavbar .dropdown-panel{
    z-index: 2;
}