#tinyuser .dropdown-label{
    font-family: serif !important;
    font-size: large !important;
}
  
#tinyuser .arrow-down{
    margin-bottom:2px !important;
}

#tinyuser .tiny-dropdown{
    margin-top: 5px;
}

#tinyuser span{
    padding-left: 3px;
}
